// 1. Bootstrap functions (must come first)
@import "bootstrap/scss/functions";

// 2. Custom variable overrides (before Bootstrap variables)
@import "variables";

// 3. Bootstrap variables + maps
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";

// 4. Bootstrap mixins + utilities
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 5. Bootstrap core (selective - only what we use)
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/close";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// 6. Custom partials
@import "typography";
@import "animations";
@import "navbar";
@import "hero";
@import "about";
@import "services";
@import "process";
@import "portfolio";
@import "cta";
@import "footer";
@import "dark-mode";
@import "utilities";
